@model GameStore.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "Корзина";
}

<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>

<table id="cartTable" class="table">
    <thead>
    <th>Количество</th>
    <th>Игра</th>
    <th class="text-right">Цена</th>
    <th class="text-right">Общая цена</th>
    </thead>
    <tbody>
        @foreach (GameStore.Domain.Entities.CartLine cartLine in Model.Cart.Lines) {
            <tr>
                <td class="text-center">@cartLine.Quantity</td>
                <td class="text-left">@cartLine.Game.Name</td>
                <td class="text-right">@cartLine.Game.Price.ToString("# руб.")</td>
                <td class="text-right">@((cartLine.Game.Price * cartLine.Quantity).ToString("# руб."))</td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Cart")) {
                      @Html.Hidden("gameId", cartLine.Game.GameId);
                      @Html.Hidden("returnUrl", Model.ReturnUrl);
                      <input type="submit" class="btn btn-sm btn-warning" value="Удалить"/>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Итого:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("# руб")
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Продолжить покупки</a>
    @Html.ActionLink("Оформить заказ", "Checkout", null, new { @class = "btn btn-primary" })
</div>